.container
  .row
    .col-md-3.col-md-offset-5
      .login-panel.panel.panel-default
        .panel-heading
          = image_tag('logos.png', width: 250)
        .panel-body
          = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
            %h2.center-block.text-center= t("forgot_password.title")
            %fieldset
              .form-group
                = f.input :email, :required => true, :autofocus => true, placeholder: t('forgot_password.hint'), input_html: { class: 'form-control'}
              = f.button :submit, t("forgot_password.submit_btn"), :class => 'btn btn-lg btn-block btn-primary'
              %br
              %p.signup.center-block.text-center
                = t("signin.description")
                = link_to t("signin.title"), store_login_url, class: 'text-primary'