.row
  .col-lg-12
    .col-lg-3 &nbsp;
    .col-lg-6
      = simple_form_for(@user, :as => resource_name, :url => store_profile_path, :html => { :method => :patch, role: 'form' }) do |f|
        %fieldset
          %legend ความปลอดภัย
          .form-group
            = f.error_notification
          .form-group
            = f.label :password, "รหัสผ่าน"
            = f.input :password, :autofocus => true, label: false, :input_html => { class: 'form-control' }
          .form-group
            = f.label :password_confirmation, "ยืนยันรหัสผ่านอีกครั้ง"
            = f.input :password_confirmation, label: false, :input_html => { class: 'form-control' }
          .form-group
            = f.label :current_password, "รหัสผ่านปัจจุบัน"
            = f.input :current_password, :hint => "we need your current password to confirm your changes", label: false, :input_html => { class: 'form-control' }
        %br
        %fieldset
          %legend ข้อมูลร้านค้า/บริษัท
          = f.fields_for :store_detail do |m|
            .form-group
              = m.label :name, "ชื่อร้านค้า/บริษัท"
              = m.input :name, required: true, label: false, input_html: { class: 'form-control' }
            .form-group
              = m.label :phone1, "เบอร์โทัศัพท์ 1"
              = m.input :phone1, required: true, label: false, input_html: { class: 'form-control' }
            .form-group
              = m.label :phone2, "เบอร์โทัศัพท์ 2"
              = m.input :phone2, required: false, label: false, input_html: { class: 'form-control' }
            .form-group
              = m.label :description, "รายละเอียดเพิ่มเติม"
              = m.input :description, required: false, label: false, as: :text, input_html: { class: 'form-control' }
            .form-group
              = m.label :address, "ที่อยู่"
              = m.input :address, required: true, label: false, input_html: { class: 'form-control' }
            .form-group
              = m.label :city, "ตำบล/แขวง"
              = m.input :city, required: true, label: false, input_html: { class: 'form-control' }
            .form-group
              = m.label :district, "อำเภอ/เขต"
              = m.input :district, required: true, label: false, input_html: { class: 'form-control' }
            .form-group
              = m.label :province, "จังหวัด"
              = m.input :province, required: true, label: false, input_html: { class: 'form-control' }
            .form-group
              = m.label :postal_code, "รหัสไปรษณีย์"
              = m.input :postal_code, required: true, label: false, input_html: { class: 'form-control' }
            .form-group
              = m.label :email, "อีเมล"
              = m.input :email, required: true, label: false, input_html: { class: 'form-control' }
          = f.hidden_field :user_id, value: params[:user_id]
        = f.submit 'บันทึก', class: 'button btn btn-primary btn-lg col-lg-12'
    .col-lg-3 &nbsp;