.large-12.columns
  .large-3.columns
    &nbsp;
  .large-6.columns
    = simple_form_for(@tracking, :url => api_v1_add_tracking_path(@tracking), :html => { :method => :post, class: 'custom' }) do |f|
      = f.error_notification
      = f.input :code, placeholder: 'Tracking id', required: true, focus: true, value: '', label: false
      = f.input :user_id, :as => :hidden, input_html: { value: current_user._id }
      = submit_tag "Add", class:"small button radius center"
  .large-3.columns
    &nbsp;

.large-12.columns
  .large-3.columns
    &nbsp;
  .large-6.columns
    %table
      %thead
        %tr
          %th{width: "200"} Tracking code
          %th{width: "150"} Status
          %th{width: "150"} 
      %tbody
      - @trackings.each do |t|
        %tr
          %td 
            = t.code
          %td
            - status = t.status == 'done' ? 'success' : t.status == 'pending' ? 'secondary' : 'alert'
            %span{class: "#{status} radius label"}=t.status
          %td
            = link_to "Details", api_v1_tracking_path(t.code), class: 'button', disabled: status == 'alert' ? true : false
  .large-3.columns
    &nbsp;