%header
  .row
    .large-12.columns
      .large-3.columns &nbsp;
      .large-6.columns
        = simple_form_for(@tracking, :url => pagpos_path(@tracking), :html => { :method => :post, class: 'custom' }) do |f|
          = f.error_notification
          .row.collapse
            .large-10.columns
              = f.input :code, value: params[:id], required: true, focus: true, label: false
            .large-2.columns
              = f.hidden_field :status, value: 'guest'
              = f.submit t("trackings.add_btn"), class: "medium button center"
      .large-3.columns &nbsp;
%section.section_main
  .large-12.columns
    %table.tracking_details
      %thead
        %tr
          %th= t('trackings.date_process')
          %th= t('trackings.status')
          %th
      %tbody
      - rows = @tracking.packages.count
      - reciever = @tracking.packages.map(&:reciever).reject(&:nil?).first
      - @tracking.packages.each_with_index do |p, i|
        %tr
          %td
            = p.process_at.squish
            .post_meta
              .lsf-icon{title: "pin"}
                = "#{t('trackings.department')}: #{p.department}"
          %td
            = p.status
            - if p.description.present?
              .post_meta
                .lsf-icon{title: "info"}
                  = p.description
          - if i.zero?
            - reciever = @tracking.packages.map(&:reciever).reject(&:nil?).last
            %td{rowspan: @tracking.packages.count-1, valign: 'top', align: 'center'}
              - signature = @tracking.packages.map(&:signature).reject(&:nil?).last
              - if !signature.blank?
                = image_tag(signature, alt: p.reciever)
              - else
                .adv-454.lsf-icon{title: "camera"}
          - if (i+1) == rows && !reciever.blank?
            %td{align: 'center', valign: 'middle' }
              = reciever