.row
  .col-lg-12
    / /.panel-heading
    .panel-body
      .inbox-checkbox-triggered
        .btn-group.pull-right
          = link_to raw("<i class='glyphicon glyphicon-plus'></i> #{t('backend.add')}"), store_add_customer_url, class: 'btn btn-primary'
      .table-responsive
        %table#dataTables.table.table-striped.table-hover.dataTable
          %thead
            %tr
              %th Name
              %th Remider By
              %th Email
              %th Phone No.
          %tbody
            - @users.each_with_index do |u, i|
              %tr{class: (i%2==0) ? 'odd' : 'even'}
                %td=u.name
                %td=u.reminder_by.upcase
                %td
                  - unless u.email.scan('@pagpos.com')
                    =u.email
                %td
                  =u.phone_no
                  .btn-group.display-inline.pull-right.text-align-left.hidden-tablet
                    %a{href: "javascript:void(0);"}
                      %i.fa.fa-file.fa-lg.fa-fw.txt-color-greenLight
                      = succeed "etail" do
                        %u D
                    %a{href: "javascript:void(0);"}
                      %i.fa.fa-pencil.fa-lg.fa-fw.txt-color-greenLight
                      = succeed "dit" do
                        %u E
                    = link_to raw("<i class='fa fa-times fa-lg fa-fw'></i> Delete"), store_destroy_customer_url(u), method: :delete, data: { confirm: "Do you really want to delete customer?" }

        / /.table-responsive
      / /.panel-body
      = will_paginate @users, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), renderer: BootstrapPagination::Rails
    / /.panel
  / /.col-lg-12
= content_for :stylesheets do
  = stylesheet_link_tag 'dataTable.bootstrap'
= content_for :javascripts do
  = javascript_include_tag 'jquery.dataTables', 'dataTable.bootstrap'