.row
  .large-12.columns
    .large-3.columns &nbsp;
    .large-6.columns
      = simple_form_for(@user, :url => user_update_path(@user), :html => { :method => :put, class: 'custom' }) do |f|
        .row
          .large-12.columns
            = f.error_notification
            = render "shared/flash_message", flash: flash
        - if @user.provider.blank?
          %h4 ความปลอดภัย
          .row
            = f.input :reset_password_token, :as => :hidden
            = f.full_error :reset_password_token
            .large-6.columns รหัสผ่าน
            .large-6.columns
              = f.input :password, :label => "New password", :required => true, :autofocus => true, label: false
          .row
            .large-6.columns ยืนยันรหัสผ่านอีกครั้ง
            .large-6.columns
              = f.input :password_confirmation, :label => "Confirm your new password", :required => true, label: false
          .row
            .large-6.columns รหัสผ่านปัจจุบัน
            .large-6.columns
              = f.input :current_password, :hint => "we need your current password to confirm your changes", label: false
        %h4 ข้อมูลส่วนตัว
        .row
          .large-6.columns ชื่อ
          .large-6.columns
            = f.input :name, :label => false, :required => true
        .row
          .large-6.columns อีเมล
          .large-6.columns
            = f.input :email, :label => false, :required => true
        .row
          .large-6.columns เพศ
          .large-6.columns
            = f.input :gender, collection: {t("user.gender.male") => "male", t("user.gender.female") => "female"}, selected: @user.gender, label: false
        %h4 การแจ้งเตือน
        .row
          .large-6.columns แจ้งเตือนเมื่อ
          .large-6.columns
            = f.input :reminder_when, collection: {"Status change" => "status_changed", "Specific post" => "specific_post", "Specific time" => "specific_time"}, selected: @user.reminder_when.to_sym, label: false, disabled: true
        .row
          .large-6.columns ช่่องทางแจ้งเตือน
          .large-6.columns 
            = f.input :reminder_by, collection: {"Email" => "email" , "SMS" => "sms"}, selected: @user.reminder_by.to_sym, label: false
            /, "WhatsApp" => "whatsapp", "Facebook Chat" => "facebook" 
        .row
          .large-6.columns หมายเลขโทรศัพท์
          .large-6.columns
            = f.input :phone_no, :placeholder => "0812345678", :required => true,  label: false
        .row
          .large-12.columns
            = f.submit 'บันทึก', class: 'button'
    .large-3.columns &nbsp;

:javascript
$(document).ready(function(){
  if($('#user_reminder_by').val() == 'sms') $('#user_phone_no').addClass('required');
  $('#user_reminder_by').on('change', function(){
    if($(this).val() == 'sms'){
      $('#user_phone_no').addClass('required');
    }else{
      $('#user_phone_no').removeClass('required');
    }
  });  
});