.row
  .col-lg-12
    / /.panel-heading
    .panel-body
      .table-responsive
        %table#dataTables.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th id
              %th email
              %th name
              %th roles
          %tbody
            - @users.each_with_index do |u, i|
              %tr{class: (i%2==0) ? 'odd' : 'even'}
                %td=u.id
                %td=u.email
                %td=u.name
                %td=u.roles.map(&:name).join(', ')
        / /.table-responsive
      / /.panel-body
      = will_paginate @users, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), renderer: BootstrapPagination::Rails
    / /.panel
  / /.col-lg-12
= content_for :stylesheets do
  = stylesheet_link_tag 'dataTable.bootstrap'
= content_for :javascripts do
  = javascript_include_tag 'jquery.dataTables', 'dataTable.bootstrap'