%footer
  .row
    .large-12.columns.footer
      .large-10.columns
        %ul.footer_menu
          %li
            = raw(t("footer.copyright", year: Time.now.year))
            / %a{href: "#", style: "font-size:16px; margin-right:15px", title: "twitter"}
            /   %i.foundicon-s-twitter= t('social.twitter')
            / %a{href: "#", style: "font-size:16px; margin-right:15px", title: "facebook"}
            /   %i.foundicon-s-facebook= t('social.facebook')
            / %a{href: "#", style: "font-size:16px; margin-right:15px", title: "pinterest"}
            /   %i.foundicon-s-pinterest
            /   Pinterest
            / %a{href: "#", style: "font-size:16px", title: "instagram"}
            /   %i.foundicon-s-instagram
            /   Instagram
          %li
            = link_to t("footer.menu.bug_report"), "#"
          %li
            = link_to t("footer.menu.term_of_use"), "#"
          %li
            = link_to t("footer.menu.about"), "#"
          %li
            = link_to t("footer.menu.contact"), "#"
      .large-2.columns
        .bizspark_logo
          = image_tag('BizSpark_Startup.jpg')
  / .alpha-version
