%nav.top-bar
  .large-12.columns.header_nav
    .row
      .large-3.columns
        = current_page?(root_url) ? raw('&nbsp;') : link_to(image_tag('logo.png', width: 175), root_path)
      .large-9.columns
        %ul#menu-header.nav-bar.right
          %li
            = link_to t("footer.menu.store"), store_login_url
          - unless current_user.blank?
            %li
              = link_to t('menu.profile'), user_profile_path
            %li
              = link_to t('menu.signout'), destroy_user_session_path, method: :delete
          - if current_user.blank?
            %li
              = link_to t("footer.menu.about"), about_url
            %li
              = link_to t('menu.login_with_facebook'), user_omniauth_authorize_path(:facebook)
            -# %li
            -#   = link_to t('menu.signin'), new_user_session_path