%nav.top-bar
  .large-12.columns.header_nav
    .row
      .large-3.columns
        %ul#menu-header.nav-bar.horizontal
          %li.active
            %a{href: "/"} PAGPOS
      .large-9.columns
        %ul#menu-header.nav-bar.right
          %li
          - unless current_user.blank?
            %li
              = link_to "Tracking", new_tracking_path
          - unless current_user.blank?
            %li
              = link_to "Profile", user_profile_path
          - unless current_user.blank?
            %li
              = link_to "Signout", destroy_user_session_path, method: :delete
          - if current_user.blank?
            %li
              = link_to "Login with Facebook", user_omniauth_authorize_path(:facebook)
            %li
              = link_to "Signin", new_user_session_path