%header
  %h1.heading_supersize
    = image_tag('logo.png', width: 600)
  %h2.welcome_text= t('pagpos.slogan')
/ ######################## Section ########################
%section.section_main
  .row
    .large-4.columns
      %h3
        %span.dropcap_red.lsf-icon-dropcap{title: "present"}
        = t('welcome_page.step_one')
      %p= t('welcome_page.step_one_description')
    .large-4.columns
      %h3
        %span.dropcap_black.lsf-icon-dropcap{title: "pin"}
        = t('welcome_page.step_two')
      %p= t('welcome_page.step_two_description')
    .large-4.columns
      %h3
        %span.dropcap_black.lsf-icon-dropcap{title: "notify"}
        = t('welcome_page.step_three')
      %p= t('welcome_page.step_three_description')