.row
  .col-lg-12
    .panel.panel-default
      .panel-heading.customer-header
        %span.pull-right
          %ul.nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-cog.fa-fw
                %i.fa.fa-caret-down
              = menu_builder :day, :divider, :week, :divider, :month, :divider, :year, {id: '', class: 'dropdown-menu'}

        %span.pull-left
          SMS Analytics
      .panel-body
        .col-lg-8
          #line-chart
        .col-lg-4
          %ul.list
            %li.info
              = link_to "ADD CREDIT", store_sms_packages_url, class: "btn btn-success btn-lg"
            %li.info
              %h5
                Sent/Credit
                %span.text-primary="#{@credit_used}/#{@credit}"
            %li.info
              %h5
                Sent to Users
                %span.text-primary= pluralize(@customer_count, 'user')
  / /.col-lg-12
= content_for :javascripts do
  = javascript_include_tag 'charts'