.row
  - @campaigns.each do |c|
    .col-xs-12.col-sm-6.col-md-3
      %div{class: "panel panel-#{c.color} pricing-big"}
        = image_tag "ribbon.png", class: 'ribbon' if c.popular
        .panel-heading
          %h3.panel-title
            = c.name
        .panel-body.no-padding.text-align-center
          .the-price
            %h1
              = c.credit
              %span.subscript= c.unit.upcase
            %h1
              #{c.currency_symbold}#{c.price}
              %span.subscript= c.currency.upcase
        .panel-footer.no-padding.text-align-center
          = link_to t('backend.button.buy').upcase, '#', role: 'button', class: "btn bg-color-#{c.color} txt-color-white btn-block"
