.row
  - @campaigns.each do |c|
    - if @got_lite
      - box_class = "col-xs-12 col-sm-6 col-md-3"
    - else
      - box_class = "col-xs-12 col-sm-4 col-md-2"
    %div{class: "#{box_class}"}
      %div{class: "panel panel-#{c.color} pricing-big price-box"}
        - unless c.name.eql?('lite')
          .modal-comming-soon
            %span Comming soon.
        =# image_tag "ribbon.png", class: 'ribbon' if c.popular
        .panel-heading
          %h3.panel-title
            = c.name
        .panel-body.no-padding.text-align-center
          .the-price
            %h1
              = c.credit
              %span.subscript= c.unit.upcase
            %h1
              #{c.currency_symbold}
              %span.panel-price= c.price.to_i
              %span.subscript= c.currency.upcase
        .panel-footer.no-padding.text-align-center
          - buy_btn = c.price.to_i == 0 ? 'free_package' : 'buy_package'
          - model_toggle = c.price.to_i == 0 ? '' : 'modal'
          = link_to t('backend.button.buy').upcase, '#', role: 'button', class: "btn bg-color-#{c.color} txt-color-white btn-block #{buy_btn}", "data-target" => "#myModal", "data-toggle" => "#{model_toggle}", "data-package-id" => c.id
- if Rails.env.eql?('development')
  = render "shared/modalbox_credit_card_form_commingsoon"
- else
  = render "shared/modalbox_credit_card_form_commingsoon"

= content_for :javascripts do
  :javascript
    $(document).ready( function() {
      $old_package_id = '__PACKAGE_ID__';
      $('#myModal').modal({
        backdrop: true,
        show: false
      });
      $('.free_package').on('click', function(e){
        e.preventDefault();
        $current_package_id = $(this).data('package-id');
        window.location.href = "#{store_get_free_package_path}?id="+$current_package_id;
      });
      $('.buy_package').on('click', function(e){
        e.preventDefault();
        $package_name = $(this).closest('.panel').find('.panel-title').text().trim();
        $package_price = $(this).closest('.panel').find('.panel-price').text().trim();
        $current_package_id = $(this).data('package-id');
        $('#myModal').on('show.bs.modal', function(){
          /*$checkout_form = $(this).find('form#checkout-form');
          $buy_package_url = $checkout_form.attr('action').replace($old_package_id, $current_package_id);
          $checkout_form.attr('action', $buy_package_url);
          $old_package_id = $current_package_id;

          $checkout_form.find('#campaign_name').val($package_name);
          $checkout_form.find('#campaign_price').val($package_price);
          $checkout_form.find('#currency').val('THB');
          $checkout_form.find('#quantity').val(1);
          $checkout_form.find('#payment_transaction_description').val("#{current_user.name} Order "+ $package_name +" at #{DateTime.now}");*/
        });
      });
    } );